.App {
  text-align: center;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

li span {
  cursor: pointer;
}

li button {
  margin-left: 10px;
}
